/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

body {
    min-height: 280px;
    width: 484px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

input {
    color: #fff;
}

.input-field>label, label {
    color: #fff;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    color: #fff;
    border-color: #fff;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #f95d9b;
    border-right-color: #f95d9b;
    border-bottom: 2px solid #f95d9b;
    border-bottom-color: #f95d9b
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #fff;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom-color: #fff;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    color: #fff;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #eee;
}

.blue-grey.darken-1 {
    background-color: #161748 !important;
    display: inline-block;
}

.btn, .btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #f95d9b;
}

.input-field {
    margin-bottom: 0rem;
}

.input-field.suffix i {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
    top: 0px;
    right: 0px;
}

.input-field.suffix i.active {
    color: #26a69a;
}

.input-field.suffix input, .input-field.suffix textarea {
    margin-right: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.input-field.suffix textarea {
    padding-top: .8rem;
}

.input-field.suffix label {
    margin-right: 3rem;
}

@media only screen and (max-width: 992px) {
    .input-field.suffix input {
        width: 86%;
        width: calc(100% - 3rem);
    }
}

@media only screen and (max-width: 600px) {
    .input-field.suffix input {
        width: 80%;
        width: calc(100% - 3rem);
    }
}

.copyTextClass {
    cursor: pointer;
    color: #f95d9b;
}

.marginTopBottom {
    margin: 10px 0px;
    display: inline-block;
    width: 100%;
}

.displayNone {
    display: none;
}

.colorCopy {
    color: #f95d9b;
}

.waves-button-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn, .btn-large, .btn-small, .btn-flat{
    padding: 0px;
}
.progressHeight{
    height: 25px;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    display: none;
    margin-left: 10px !important;
}
.progressHeight .determinate{
    background-color: #f95d9b7d;
}
